<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Blog</a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">

      <ng-container *ngIf="hasLoggedIn">
        <li class="nav-item">
          <a class="nav-link" (click)="onRedirect('main/ancient-wonders')">Ancient Wonders</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" (click)="onRedirect('main/new-wonders')">Modern Wonders</a>
        </li>
      </ng-container>

      <li class="nav-item" *ngIf="!hasLoggedIn">
        <a class="nav-link" (click)="onRedirect('auth/login')">Login</a>
      </li>

      <li class="nav-item" *ngIf="hasLoggedIn">
        <a class="nav-link" (click)="onLogout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
