<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Title</th>
    <th scope="col">Author</th>
    <th scope="col">Publish Date</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let post of posts">
    <td>{{post.id}}</td>
    <td>{{post.title}}</td>
    <td>{{post.author}}</td>
    <td>{{post.publishDate}}</td>
    <td>

      <a class="btn btn-link"
         [routerLink]="['/main', 'ancient-wonders', 'edit', post.id]">
        Edit
      </a>

      <button type="button"
              class="btn btn-link"
              (click)="postDeleted.emit(post.id)">
        Delete
      </button>
    </td>
  </tr>
  </tbody>
</table>
