<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title">{{post.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{post.publishDate}}</h6>

    <p class="card-text">{{post.content}}</p>

    <button type="button"
            class="btn btn-outline-primary mr-2"
            (click)="markAsFavorite()">
      Mark as Favorite
    </button>

    <a class="btn btn-outline-success mr-2"
       [routerLink]="['/new-wonders', 'edit', post.id]">
      Edit
    </a>

    <button type="button"
            class="btn btn-outline-danger"
            (click)="postDeleted.emit(post.id)">
      Delete
    </button>
  </div>
</div>
