<h3>
  {{!post.id ? 'Create new' : 'Update'}}
</h3>

<form #form="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text"
           class="form-control"
           id="title"
           name="title"
           required
           minlength="5"
           placeholder="Enter title..."
           [(ngModel)]="post.title"
           #titleControl="ngModel">

    <small *ngIf="titleControl.touched && titleControl.invalid && titleControl.errors.required"
           class="text-danger">
      This field is required
    </small>

    <small *ngIf="titleControl.touched && titleControl.invalid && titleControl.errors.minlength"
           class="text-danger">
      This field should contain at least {{titleControl.errors.minlength.requiredLength}}.
      Currently they are {{titleControl.errors.minlength.actualLength}}
    </small>

  </div>

  <div class="form-group">
    <label for="content">Content</label>
    <input type="text"
           class="form-control"
           id="content"
           name="content"
           placeholder="Enter content..."
           [(ngModel)]="post.content"
           ngModel>
  </div>

  <div class="form-group">
    <button type="submit"
            class="btn btn-primary"
            [disabled]="form.invalid">
      {{post.id ? 'Update' : 'Add'}}
    </button>

    <button type="button"
            class="btn btn-outline-dark ml-3"
            (click)="onCancel()">
      Cancel
    </button>
  </div>
</form>
